/*******Layout Styles*******/
html {
    background-color: rgb(192, 213, 231);
    font-family: Ubuntu, Monsterrat, sans-serif;
    font-size: 1em;
    line-height: 1em;
    padding: 1em;
    text-rendering: optimizeLegibility;
    overflow-x: hidden
}