/*******Custom Fonts*******/
@font-face {
    font-family: "Ubuntu";
    src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format(TrueType);
    font-weight: normal
}
@font-face {
    font-family: "Ubuntu";
    src: url(../assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format(TrueType);
    font-weight: bold;
}
@font-face {
    font-family: "Monsterrat";
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format(TrueType);
}
/*******Layout Styles*******/
/*Modular Scale: Major Second*/
/*https://www.modularscale.com/?18&px&1.125*/
html {
    background-color: rgb(192, 213, 231);
    font-family: "Ubuntu", "Monsterrat", sans-serif;
    font-size: 1.125em; /*18/16=1.125*/
    line-height: 1.25em;
    padding: 1em;
    text-rendering: optimizeLegibility;
    overflow-x: hidden
}
h1 {
    font-size: 1.266em; /*22.781/18=1.2656*/
    font-weight: bold;
}
p,
h1,
figcaption {
    text-align: center;
}
img,
#section-services {
    margin: 0.50em 0 0.50em 0; /*18/9=0.50*/
}
#email,
#username,
#password,
#submit {
    background-color: rgb(255, 250, 250);
    border-radius: 0.444em; /*8/18=0.4444*/
    border-style: hidden;
    box-sizing: border-box;
    padding: 0.222em; /*4/18=0.2222*/
    max-width: 100%;
}

